@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Nav bar */

nav>div{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}


/* Banner css code */

#banner{
    /* width: 1510px; */
    height: 670px;
    background-image: url("assets/Hero-bg.png");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;

    /* banner (img,title,subtitle, button) ke fix korbe */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-top: 70px;
    margin-bottom: 74px;
}

/* group image --- banner e thaka boy */
.banner-img{
    width: 240.28px;
    height: 240px;
    margin:26px 599px 32px 599px;
}

/* banner title & description-- flex */

.banner-content{
    width: 998px;
    height: 212px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
   
/* banner content title  */
.banner-content-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 46px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    margin-bottom: 24px;
}

.banner-content-description{
    width: 852px;
    height: 52px;
 
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

/* banner button */

.banner-btn
{
    margin-top: 53px;
    
}
.banner-text-btn{
/* background */
    border-radius: 8px;
    background: rgb(13, 19, 33);
/* btn  text css code */
    padding: 21px 24px 21px 24px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}

/* main section -->  Why-web-dev css code  ----------- */


/* why-web-dev er main section er alingment fixing css code  */
#why-web-dev{
    border: 3px solid rgb(126, 126, 131);
    margin: 0 auto;
    width: 1140px;
    height: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* padding: 80px 97px 80px 97px; */

    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-bottom: 90px;
}

/* header and description er text formating  css code */
.why-header{

    position: static;
    width: 852px;
    height: 113px;

    margin:80px 0 48px 0;
}

.why-title{
    width: 852px;
    height: 37px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.why-description{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 24px;
}


/* section-1  er description and img alingment set  */
.sec-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 98.83px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

/* sec-1  description(h1+p)  alingment setting */
.sec-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 477px;
    height: 219px;
    margin:48px 0 58px 48px;
}

/* sec-1 er header */
/* for those 3 section this code is same heading */
.sec-description > h1{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
    width: 390px;
    height: 72px;
}

/* for those 3 section this code is same for paragraph */
/* section 1 er paragraph */
.sec-description > p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    width: 468px;
    height: 52px;
    margin-bottom: 32px;
}

/* btn  background css code */
/* for those 3 section this code is same for btn-background */
.sec-btn{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
    background-color: rgb(252, 252, 252);
}

/* btn  text css code */
/* for those 3 section this code is same for btn-text */
.why-btn-text{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    margin: 0px 10px;
    /* padding: 12px 20px 12px 20px; */
    text-decoration: none;
}



/* SECTION-2     */

.sec-2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 98.83px;
    border-radius: 16px;
    background: linear-gradient(-90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

/* section-3 */
.sec-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 98.83px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}



/* inspiration section  */


/* inspiration  full box content er alingment er css code */
#inspiration{
    margin: 0 auto;
    width: 1140px;
    height: 775px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 151px;
}


/* description er text er alingment er css code */
.inspire-description{
    width: 852px;
    height: 113px;
    margin: 48px 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

} 


/* inspiration er text */
.inspire-description > h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin: 24px 0px;
}

/* isnpiration er paragraph */
.inspire-description >p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 24px 0px;
    width: 852px;
    height: 52px;
}


/* vdo section er border and background   er code */
.inspire-vdo{

    display: flex;

     margin: 0 auto;
     display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin: 48px 0px; 
    width: 1140px;
    height: 614px;
    padding: 32px;
}

/* vdo er frame  */
.inspire-vdo .vdo{
    border-radius: 16px;
    width: 1076px;
    height: 550px;
    margin: 10px 0px;
}



/*------------ My current target section ----- */

#current-target{

margin: 0 auto;
    width: 1140px;
height: 460px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
margin-bottom: 111px;
        
}


/* My current taget -- section header */


.target-header > h1{

    width: 852px;
    height: 37px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin: 24px;
}

.target-header >p{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    margin: 24px;
}

/* code for 3 cards to bring them in a line */
.target-cards{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 1140px;
    height: 299px;
}

/* code for every card to make them perfect */
.card-bg{

    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 364px;
    height: 299px;
    padding: 40px;
}


/* card er text er jonno */
.card-content{
    width: 284px;
    height: 219px;

    

}

.card-content > h4{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    margin: 8px 0px;
    width: 284px;
    height: 36px;
}

.card-content >p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
    /* margin-bottom: 24px; */
    margin: 8px 0px;
    width: 284px;
    height: 52px;

}


.card-content >a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    text-decoration-line: underline;

    /* margin-top: 24px ;        margin top ekhane kaj kore nai   */
}

.card-content>img{

    width: 56px;
    height: 56px;
}



/* -----Suggestion section */

/* fixing suggestion section's bg and it's items alingment */
.suggestion{

    background-image:  linear-gradient(to top ,rgba(22, 22, 22, 0.879), rgba(36, 36, 36, 0) 70.71%),
    linear-gradient(rgba(11, 11, 11, 0.8), rgba(7, 7, 7, 0) 70.71%),
     url("assets/handshake.jpg");
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    width: 1140px;
    height: 313px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;

    margin-bottom: 600px;
    padding: 64px 48px 64px 48px;
    


   

}

.suggestion-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.suggestion-header >h1{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;

    margin: 16px 0;

}

.suggestion-header >p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    margin: 16px 0px;

}

/* suggestion section form   alingment set */
.suggestion-form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}

/* button er bg , text etc css code */
.form-btn{
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 20px 17px 20px;
    margin: 24px 16px;
}


/* input field er css code */
.form-input{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    margin: 24px 16px;
    width: 548px;
    height: 55px;
    padding-left: 20px;
    padding-top: 19px;
    padding-bottom: 19px;
}

/* placeholder er css code */
.suggestion-form > input::placeholder{
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
   
}